:root {
  --brand-color: #212121;
}

.address__btn, .address__input::placeholder, .address__soc-link, .clients-link, .command-list__soc-link, .menu-metier__top-text, .menu-cntnt__box-icon, .flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.body {
  font-family: "Roboto", sans-serif, Arial;
  color: #757575;
}

ol,
ul {
  margin: 0;
  padding-left: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.image {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip-path: inset(50%);
  clip: rect(0 0 0 0);
  margin: -1px;
}

.container {
  margin: 0 auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.mobile-icon:hover,
.mobile-icon:focus {
  fill: #2196f3;
}

.menu-open-btn {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  border: none;
  display: inline-flex;
  margin-left: auto;
  padding-top: 10px;
  padding-right: 15px;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-open-btn:hover, .menu-open-btn:focus {
  fill: #2196f3;
}
@media screen and (min-width: 768px) {
  .menu-open-btn {
    display: none;
  }
}

.mobile-menu {
  background: #fff;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
  background-color: white;
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
.mobile-menu.is-hidden {
  opacity: 0;
}

.menu-close-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 10px;
  padding-right: 15px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.mob-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--brand-color);
}

.mob-menu .mob-menu__link.mob-current {
  color: #2196f3;
}

.mob-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu-social__list {
  display: flex;
  flex-wrap: wrap;
}

.mob-menu-social__link {
  color: #2196f3;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
  margin-right: 10px;
  padding-right: 10px;
}

.menu__linked {
  border: none;
}

.mob-menu__item-connect:not(:last-child) {
  padding-bottom: 32px;
}

.mob-menu__link-tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #757575;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-menu__link-tel:hover, .mob-menu__link-tel:focus {
  color: #2196f3;
}

.mob-menu__link-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #757575;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-menu__link-mail:hover, .mob-menu__link-mail:focus {
  color: #2196f3;
}

.header-line {
  border-bottom: 1px solid #ececec;
  left: 0px;
  top: 0px;
}

.header {
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
  left: 0px;
  top: 0px;
}

.title__logo {
  text-decoration: none;
  color: var(--brand-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .title__logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1;
    letter-spacing: 0.03em;
  }
}

.title__logo-web {
  color: #2196f3;
}

.title__logo-studio {
  color: var(--brand-color);
}

.title {
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
}
@media screen and (min-width: 768px) {
  .title {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.menu {
  display: none;
}
@media screen and (min-width: 768px) {
  .menu {
    display: flex;
    margin-left: 88px;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .menu {
    display: flex;
    align-items: center;
    margin-left: 93px;
  }
}

@media screen and (min-width: 768px) {
  .menu__item {
    margin-right: 50px;
  }
}

@media screen and (min-width: 768px) {
  .header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .header .container {
    display: flex;
    align-items: center;
  }
}

.menu__link {
  color: var(--brand-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding: 32px 0;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__link:hover, .menu__link:focus {
  color: #2196f3;
}

.current::after {
  content: "";
  display: block;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.menu .menu__link.current {
  color: #2196f3;
}

.connect__link-cnct {
  display: none;
  margin-left: auto;
}

.connect {
  display: none;
}
@media screen and (min-width: 480px) {
  .connect {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .connect {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .connect {
    display: flex;
    align-items: center;
  }
}

.connect__link-mail {
  display: flex;
  align-items: center;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.connect__link-mail:hover, .connect__link-mail:focus {
  color: #2196f3;
}
@media screen and (min-width: 768px) {
  .connect__link-mail {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .connect__link-mail {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.connect__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.connect__link-mail:hover .connect__icon, .connect__link-mail:focus .connect__icon {
  fill: #2196f3;
}

.connect__link-tel {
  display: flex;
  align-items: center;
  margin: 0;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.connect__link-tel:hover, .connect__link-tel:focus {
  color: #2196f3;
}
.connect__icon {
  fill: #757575;
  margin-right: 10px;
}
.connect__link-tel:hover .connect__icon, .connect__link-tel:focus .connect__icon {
  fill: #2196f3;
}

.hero-btn {
  color: #ffffff;
  background-color: #2196f3;
  min-width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  cursor: pointer;
  display: flex;
  font-family: inherit;
  padding: 10px 32px;
  border: 1px transparent;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover, .hero-btn:focus {
  background-color: #188ce8;
}

.flex {
  flex-direction: column;
}

.hero {
  background-color: #2f303a;
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/hero-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  margin: 0 auto;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/hero-bg-mob-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/hero-bg-tab.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/hero-bg-tab-2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/hero-bg.jpg);
    padding-top: 200px;
    padding-bottom: 118px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/hero-bg-2x.jpg);
  }
}

.hero-caption {
  color: #ffffff;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.7;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .hero-caption {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.6;
    letter-spacing: 0.06em;
    width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-caption {
    margin-left: 452px;
    margin-right: 452px;
  }
}

.content {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .content {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .menu-cntnt__item {
    width: calc((100% - 90px) / 2);
  }
}

.menu-cntnt {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
@media screen and (min-width: 1200px) {
  .menu-cntnt {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

.menu-cntnt__box-icon {
  background-color: #f5f4fa;
  margin-bottom: 30px;
  border-radius: 4px;
  height: 120px;
}

.menu-cntnt__caption {
  color: var(--brand-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .menu-cntnt__caption {
    text-align: start;
  }
}

.menu-cntnt__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  width: 100%;
}

@media screen and (max-width: 1199px) {
  .emplom-hidden {
    display: none;
  }
}

.employment {
  padding-bottom: 94px;
}

.menu-metier {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.menu-metier__item {
  position: relative;
  width: calc((100% - 60px) / 3);
}

.employment-caption {
  color: var(--brand-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

.menu-metier__top-text {
  position: absolute;
  bottom: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
}

.container {
  padding-top: 0;
  padding-bottom: 0;
}

.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f5f4fa;
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team-caption {
  color: var(--brand-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 30px;
}

.command-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
@media screen and (min-width: 1200px) {
  .command-list {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

.command-list__item {
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}
@media screen and (min-width: 768px) {
  .command-list__item {
    width: calc((100% - 90px) / 2);
  }
}

.command-list__name {
  color: var(--brand-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  margin-top: 30px;
  margin-bottom: 11px;
}

.command-list__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.command-list__soc-list {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.command-list__soc-item {
  width: 44px;
  height: 44px;
  margin-left: 10px;
}
.command-list__soc-item:first-child {
  margin-left: 0;
}

.command-list__soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.command-list__soc-link:hover, .command-list__soc-link:focus {
  background-color: #2196f3;
}

.command-list__soc-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.command-list__soc-link:hover .command-list__soc-icon, .command-list__soc-link:focus .command-list__soc-icon {
  fill: #ffffff;
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients-title {
  text-align: center;
  font-size: 28px;
  letter-spacing: 0.03em;
  color: var(--brand-color);
  margin-bottom: 30px;
  line-height: 1.1;
}

.clients-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 1200px) {
  .clients-list {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

.clients-item {
  height: 92px;
}
@media screen and (min-width: 480px) {
  .clients-item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .clients-item {
    width: calc((100% - 120px) / 3);
  }
}

.clients-link {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover, .clients-link:focus {
  border-color: #2196f3;
}

.clients-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover .clients-icon, .clients-link:focus .clients-icon {
  fill: #2196f3;
}

@media screen and (max-width: 767px) {
  .footers {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .footers {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .footer-class {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-class {
    display: flex;
    align-items: baseline;
    margin-bottom: 0;
  }
}

.address__logo-nav {
  text-decoration: none;
  color: var(--brand-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  display: block;
}
@media screen and (max-width: 1199px) {
  .address__logo-nav {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .address__logo-nav {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1;
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 1200px) {
  .address {
    margin-right: 70px;
  }
}

.address__address {
  display: flex;
  width: 100%;
  justify-content: center;
}
@media screen and (max-width: 1199px) {
  .address__address {
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .address__address {
    margin-bottom: 60px;
  }
}

.footer {
  background-color: #2f303a;
  padding: 60px 0 60px 0;
}

.address__logo-web {
  color: #2196f3;
}

.address__logo-studio {
  color: #ffffff;
}

.address__item:not(:last-child) {
  margin-bottom: 8px;
}

.address__adds {
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  font-style: normal;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__adds:hover, .address__adds:focus {
  color: #2196f3;
}

.address__link-mail {
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  font-style: normal;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__link-mail:hover, .address__link-mail:focus {
  color: #2196f3;
}

.address__link-tel {
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  font-style: normal;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__link-tel:hover, .address__link-tel:focus {
  color: #2196f3;
}

@media screen and (max-width: 768px) {
  .address__soc-content {
    margin-bottom: 60px;
  }
}

.address__soc-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.address__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
@media screen and (max-width: 1199px) {
  .address__text {
    text-align: center;
  }
}

.address__soc-link {
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
  width: 44px;
  height: 44px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__soc-link:hover, .address__soc-link:focus {
  background-color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .address__sub {
    margin-left: 93px;
  }
}

@media screen and (max-width: 1199px) {
  .address__span {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .address__span {
    display: flex;
  }
}

.address__label {
  display: block;
  top: 0;
  left: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
@media screen and (max-width: 1199px) {
  .address__label {
    text-align: center;
  }
}

.address__input {
  width: 100%;
  height: 50px;
  background-color: transparent;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 0 15px 16px;
  color: rgb(255, 255, 255);
}
@media screen and (max-width: 1199px) {
  .address__input {
    max-width: 450px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .address__input {
    width: 358px;
    margin-right: 12px;
  }
}
.address__input:focus {
  border: 1px solid #2196f3;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.address__btn {
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
}

.address__icon-plane {
  margin-left: 10px;
}

.categories {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 767px) {
  .categories {
    padding-top: 60px;
    padding-bottom: 40px;
  }
}
@media screen and (max-width: 1199px) {
  .categories {
    padding-top: 60px;
    padding-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .categories {
    padding-top: 94px;
    padding-bottom: 50px;
  }
}
@media screen and (min-width: 768px) {
  .categories {
    justify-content: center;
  }
}

.categories__item {
  margin-right: 8px;
  margin-bottom: 15px;
}

.categories__btn {
  display: flex;
  padding: 6px 22px 6px 22px;
  color: var(--brand-color);
  background-color: #f5f4fa;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  font-family: inherit;
  border-radius: 4px;
  border: 1px transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.categories__btn:hover, .categories__btn:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.scroll {
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 480px) {
  .scroll {
    padding-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .scroll {
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .scroll {
    padding-bottom: 94px;
  }
}

.scroll-item {
  border-bottom: #eee solid 1px;
}
@media screen and (max-width: 767px) {
  .scroll-item {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .scroll-item {
    width: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .scroll-item {
    width: calc((100% - 60px) / 3);
  }
}

.scroll-link {
  display: block;
  position: relative;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.scroll-link:hover, .scroll-link:focus {
  background-color: #ffffff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.scroll-link:hover .category-top-text {
  transform: translateY(0);
}

.scroll-caption {
  color: var(--brand-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-decoration: none;
  margin-bottom: 4px;
}

.scroll-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #757575;
}

.text {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: #eee solid 1px;
  border-right: #eee solid 1px;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .first {
    padding-bottom: 36px;
  }
}

.img-top-text {
  position: relative;
  overflow: hidden;
  pointer-events: none;
}

.category-top-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms linear, visibility 250ms linear;
  overflow-y: scroll;
  z-index: 5;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal {
  top: 0;
  left: 0;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms linear;
  padding: 40px;
  position: relative;
}
@media screen and (min-width: 480px) {
  .modal {
    min-width: 450px;
    max-width: 450px;
    margin-top: 93px;
    margin-bottom: 93px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .modal {
    margin-top: 93px;
    margin-bottom: 93px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    margin-top: 221px;
    margin-bottom: 222px;
    margin-left: auto;
    margin-right: auto;
    width: 528px;
    height: 581px;
  }
}

.close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 6px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #ffffff;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close:hover, .close:focus {
  fill: #2196f3;
}

.modal-title {
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  font-weight: 700;
  margin-bottom: 12px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  outline: none;
  padding: 12px 0 12px 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border-color: #2196f3;
}
.modal-input:focus + .input-icon {
  fill: #2196f3;
}

.modal-field {
  margin-bottom: 10px;
}
.modal-field:nth-child(5) {
  margin-bottom: 20px;
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.modal-label-comment {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.input-block {
  position: relative;
}

.modal-area {
  display: block;
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  padding: 12px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-area:focus {
  border-color: #2196f3;
}

::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.send-btn {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  border: transparent;
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.check-text {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: #757575;
  justify-content: center;
  display: flex;
  align-items: center;
}
.check-text a {
  text-decoration-line: underline;
  color: #2196f3;
}
.check-text span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 15px;
  border: 1px solid #212121;
  margin-right: 7px;
  border-radius: 2px;
}

.icon-check {
  fill: transparent;
}

.input-check:checked + .check-text span {
  background-color: #2196f3;
  border: none;
}

.input-check:checked + .check-text .icon-check {
  fill: #ffffff;
}

.modal-check-box {
  margin-bottom: 30px;
}/*# sourceMappingURL=main.css.map */