.body {
  font-family: "Roboto", sans-serif, Arial;
  color: #757575;
}
ol,
ul {
  margin: 0;
  padding-left: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.image {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}
